{% extends "layout.html" %}

{% block title %}
    Configuration
{% endblock %}

{% block main %}

    <h1>
        Configuration
    </h1>

    <p>
        <h3>
                Category:
        </h3>

        <select>
        <option value="General">General</option>
        <option value="Books">Books</option>
        <option value="Film">Film</option>
        <option value="Music">Music</option>
        <option value="Musicals_Theatres">Musical Theatres</option>
        <option value="Tv">Tv</option>
        <option value="Video_Games">Video Games</option>
        <option value="Board_Games">Board Games</option>
        <option value="Nature">Nature</option>
        <option value="Computers">Computers</option>
        <option value="Maths">Maths</option>
        <option value="Mythology">Mythology</option>
        <option value="Sports">Sports</option>
        <option value="Geography">Geography</option>
        <option value="History">History</option>
        <option value="Politics">Politics</option>
        <option value="Art">Art</option>
        <option value="Celebrities">Celebrities</option>
        <option value="Animals">Animals</option>
        <option value="Vehicles">Vehicles</option>
        <option value="Comics">Comics</option>
        <option value="Gadgets">Gadgets</option>
        <option value="Anime_Manga">Anime Manga</option>
        <option value="Cartoon">Cartoon</option>
        </select>

        <h3>
                Difficulty:
        </h3>

        <select>
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
        </select>

        <h3>
                Question Type:
        </h3>

        <select>
        <option value="Multiple_Choice">Multiple Choice</option>
        <option value="True_False">True False</option>
        </select>

        <div class="form-group">
                <button class="btn btn-primary" type="submit">Configure</button>
        </div>

    </p>

{% endblock %}