{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

  <h2>Welcome {{ user }}</h2>

  <div class="form-group">
                <button autocomplete="off" class="btn btn-default" type="button">Leaderboards</button>
  </div>
  <div class="form-group">
                <button autocomplete="off" class="btn btn-default" type="button">Play</button>
  </div>
  <div class="form-group">
                <button autocomplete="off" class="btn btn-default" type="button">Learn more</button>
  </div>

{% endblock %}