{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

  <h2>Welcome {{ user }}</h2>
  <iframe width="700" height="380" src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>

  <div style="position:fixed; transition: .5s ease; top: 60%; left: 30%;">
                <a href="{{ url_for('scoreboard') }}" class="btn btn-warning btn-lg" role="button" >Scoreboard</a>
  </div>
  <div style="position:fixed; transition: .5s ease; top: 60%; left: 50%;">
                <a href="{{ url_for('play') }}" class="btn btn-success btn-lg" role="button">Play</a>
  </div>
  <div style="position:absolute; transition: .5s ease; top: 60%; left: 70%;">
                <a href="{{ url_for('learnmore') }}" class="btn btn-warning btn-lg" role="button" >Learn more</a>
  </div>


{% endblock %}