<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="dinitial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>

        <link rel="stylesheet" type="text/css" href="static/style.css">

        <link href='https://fonts.googleapis.com/css?family=Asap Condensed' rel='stylesheet'>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <title>ATU Trivia: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container">

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">ATU Trivia</a>

        <div class="navbar-collapse collapse show" id="navbarColor01" style="">

            {% if session.user_id %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('config') }}">Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('scoreboard') }}">Scoreboards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('quickplay') }}">Quick Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('leaderboards') }}">Global leaderboards</a>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}"> Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}"> Profile</a>
                </li>

            {% else %}
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}"> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}"> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('leaderboards') }}">Global leaderboards</a>
                </li>
            </ul>
            {% endif %}

        </div>
    </nav>

            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main>
                {% block main %}{% endblock %}
            </main>

            </div>
            <div style="position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #777777; text-align: center;">
              {% block footer %}
                  &copy; Copyright 2018 by Abel Aben, Timon Brouwer, Ugurhan Candemir.
              {% endblock %}
            </div>

    </body>

</html>
