{% extends "layout.html" %}

{% block title %}
    Leaderboards
{% endblock %}

{% block main %}

  <h1>Global leaderboards</h1>

<table width="100%">
  <thead>
    <tr class="table table-hover">
      <th scope="col">Rank</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-success">
      <td>1.</td>
      <td>{{name_1}}</td>
      <td>{{score_1}}</td>
    </tr>
    <tr class="table-info">
      <td>2.</td>
      <td>{{name_2}}</td>
      <td>{{score_2}}</td>
    </tr>
    <tr class="table-danger">
      <td>3.</td>
      <td>{{name_3}}</td>
      <td>{{score_3}}</td>
    </tr>
    <tr class="table-active">
      <td>4.</td>
      <td>{{name_4}}</td>
      <td>{{score_4}}</td>
    </tr>
    <tr class="table-active">
      <td>5.</td>
      <td>{{name_5}}</td>
      <td>{{score_5}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}