{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block main %}
    <form action="{{ url_for('play') }}" method="post">
            <h1> {{ category }}</h1>
            <div>{{ question }}</div>
            <p></p>
            <div>
            <input type="radio" name="answer" value= {{ True }} >{{ True }}<br>
            </div>
            <div>
            <input type="radio" name="answer" value= {{ False }} >{{ False }}<br>
            </div>
            <p></p>
            <div class="form-group">
            <button class="button" type="submit">Submit</button>
            </div>

    </form>
{% endblock %}
