{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <body>

            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password2" placeholder="Password (again)" type="password"/>
            </div>
            <div class="form-group">
                <button class="button" type="submit">Register</button>
            </div>

            </body>
        </fieldset>
    </form>
{% endblock %}
