{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

  <h2>Welcome {{ user }}</h2>

    <table class="table table-striped" style="width:100%">
      <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    {% for stock in stocks %}
      <tr>
        <td>{{ stock.symbol }}</td>
        <td>{{ stock.quantity }}</td>
        <td>{{ stock.price }}</td>
        <td>{{ stock.usdtotal }}</td>
      </tr>
    {% endfor %}
    </table>
  <p>
    Your cash balance is: "{{ cash }}"
  </p>
  <p>
    Your grand total is: "{{ grand_total }}"
  </p>



{% endblock %}